<body>
    <div class="hero bg-base-200 p-10">
        <div class="hero-content text-center">
            <div class="max-w-md gap-y-5">
                <h1 class="text-5xl font-bold">Hello there</h1>
                <p class="py-6">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio nobis veniam perferendis
                    molestias dolorum repellendus soluta corrupti quam, eligendi reprehenderit, expedita eum, modi enim
                    vel. Qui, animi eius. Doloremque, rerum?
                </p>
                <h1 class="text-5xl font-bold">Get Started</h1>
                <a href="/login" th:href="@{/login}" class="btn btn-primary mt-4">Login</a>
                <p class="mt-4">Don't have an account? <a href="/register" th:href="@{/register}" class="text-blue-600">Sign up</a></p>
            </div>
        </div>
    </div>
  </div>
</body>
